@media(min-width: 479px) {
    grid-template-areas: 
    "header header header "
    ".stacksoftires .stacksoftires .stacksoftires "
    ".charger .charger .charger "
    ".changetires .changetires .changetires "
    ".cooktires .cooktires .cooktires "
    ".radialtire .radialtire .radialtire "
    ".onetire .onetire .onetire ";


    body{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    .stacksoftires{
        height: auto;
        width: 100%;
        grid-row: 1/6;
    }

    .changetires{
        height: auto;
        width: 100%;
        grid-row: 2/6;
    }

    .charger{
        height: auto;
        width: 100%;
        grid-row: 3/6;
    }

    .cooktires{
        height: auto;
        width: 100%;
        grid-row: 4/6;
    }

    .radialtire{
        height: auto;
        width: 100%;
        grid-row: 5/6;
    }

    .onetire{
        height: auto;
        width: 100%;
        grid-row: 6/6;
    }




















































}