@media(min-width: 476px) {
    
    :root {
        --color-base: hsl(white);
        --color-text: white;
    }
    
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        margin: 0 auto;
        max-width: 85rem;

        grid-template-areas: 
        "logoLeft slogan search"
        "nav nav nav"
        ". logoCenter ."
        "footer . ."
        ;
    }

    html {
        background-color: #000000;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23030422' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23060844' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23090b66' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%230c0f88' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%230f13aa' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
    }

    img {
        width: 250px;
        height: 250px;
    }

    h2 {
        color: var(--color-text);
    }

    a {
        color: var(--color-text);
    }

    header {
        color: var(--color-text);
    }

    main {
        color: var(--color-text);
    }
    article {
        color: var(--color-text);
    }
    footer {
        color: var(--color-text);
    }

    ul {
        list-style: none;
    }

    .logoLeft {
        align-items: center;
        display: flex;
        grid-column: 1 / 2;
        grid-area: logoLeft;
        padding: 1rem;
    }

    .slogan {
        align-items: center;
        display: flex;
        grid-column: 2 / 3;

        grid-area: slogan;
        padding: 1rem;
    }

    .search {
        align-items: center;
        display: flex;
        grid-column: 3 / 4;
        grid-area: search;
        padding: 1rem;
    }

    .nav {
        align-items: center;
        display: flex;
        grid-column: 1 / 4;
        grid-area: logoLeft;
        padding: 1rem;
    }

    
    .logoCenter {
        align-items: center;
        display: flex;
        grid-column: 2 / 3;
        grid-area: logoLeft;
        padding: 1rem;
    }




}

@media(max-height: 400px) {











}




