@media(min-width: 479px){
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        margin: auto;
        max-width: 95rem;

        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
    }
.wrapper::after {
    content: "";
    clear: both;
    display: table;
}

dt {
    font-size: 1.15rem;
    color: var(--color-text);
    display: inline;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

div{
    display: block;
    text-align: center;
}

h3{
    margin-right: 400px;
}
img {
    width: 100px;
    height: 100px;
}
h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

main{
    display: flex;
        grid-column: 1 / 4;
        grid-area: main;
        padding: 1rem;
}


.boxes{
    width: 200px
}

.box2{
    width: 400px;
}
h1{
    text-align: center;
}

.nav {
    display: flex;
    grid-area: nav;
    padding: 1rem;
    background-color: black;
    color: white;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    margin: 1rem 0;
    height: 100px;
    justify-content: center;
    align-items: center;
}

dt{
    display: inline;
    text-decoration: none;
    list-style: none;
    padding: 20px;

}

a{
    color: white;
    font-size: 1.75rem;
    text-decoration: none;
}

.search{
    float: right;
    position: relative;
    left: 50px;
}

html {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23030422' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23060844' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23090b66' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%230c0f88' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%230f13aa' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
h3{
    color: white;
}

label{
    color: white;
}

button{
    background-color: rgba(0, 89, 255, 0.486);
}
footer{
    color: white;
}

footer {
    font-family: 'Courier New', Courier, monospace;
}

.h3{
    font-family: 'Courier New', Courier, monospace;
}
}

@media(max-height: 400px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        margin: auto;
        max-width: 95rem;

        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
    }
.wrapper::after {
    content: "";
    clear: both;
    display: table;
}

dt {
    font-size: 1.15rem;
    color: var(--color-text);
    display: inline;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

div{
    display: block;
    text-align: center;
}

h3{
    margin-right: 400px;
}
img {
    width: 100px;
    height: 100px;
}
h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

main{
    display: flex;
        grid-column: 1 / 4;
        grid-area: main;
        padding: 1rem;
}


.boxes{
    width: 200px
}

.box2{
    width: 400px;
}
h1{
    text-align: center;
}

.nav {
    display: flex;
    grid-area: nav;
    padding: 1rem;
    background-color: black;
    color: white;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    margin: 1rem 0;
    height: 100px;
    justify-content: center;
    align-items: center;
}

dt{
    display: inline;
    text-decoration: none;
    list-style: none;
    padding: 20px;

}

a{
    color: white;
    font-size: 1.75rem;
    text-decoration: none;
}

.search{
    float: right;
    position: relative;
    left: 50px;
}

html {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23030422' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23060844' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23090b66' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%230c0f88' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%230f13aa' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
h3{
    color: white;
}

label{
    color: white;
}

button{
    background-color: rgba(0, 89, 255, 0.486);
}
footer{
    color: white;
}

footer {
    font-family: 'Courier New', Courier, monospace;
}

.h3{
    font-family: 'Courier New', Courier, monospace;
}
}