@media(min-width: 476px) {
    :root {
        --color-base: hsl(white);
        --color-text: white;
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        margin: auto;
        max-width: 95rem;

        grid-template-areas: 
        "nav nav nav"
        "price request customer"
        "footer footer footer";
    }
    *, *::after, *::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        position: relative;
    }
    html {
        background-color: #000000;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23030422' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23060844' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23090b66' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%230c0f88' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%230f13aa' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
    }
    ul {
        list-style: none;
    }
    li {
        font-size: 1.15rem;
        color: var(--color-text);
        display: inline;
        padding: 20px;
        font-family: 'Courier New', Courier, monospace;
    }
    select {
        color: var(--color-text);
        background-color: #000000;
        font-size: 1rem;
        font-family: 'Courier New', Courier, monospace;
    }
    a {
        text-decoration: none;
        color: var(--color-text);
        font-size: 1.75rem;
        padding: 10px;
        font-family: 'Courier New', Courier, monospace;
    }
    input {
        padding-left: 20px;
    }
    footer {
        color: var(--color-text);
        font-size: .75rem;
        font-family: 'Courier New', Courier, monospace;
    }
    legend {
        color: var(--color-text);
        font-size: 1.15rem;
        font-family: 'Courier New', Courier, monospace;
    }
    h2 {
        color: var(--color-text);
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
    }
    nav {
        padding-top: 20px;
    }
    .logoLeft {
        width: 120px;
        height: 120px;
    }
    .price {
        display: flex;
        grid-column: 1 / 2;
        grid-area: price;
        padding: 1rem;

    }
    .request {
        display: flex;
        grid-column: 2 / 3;
        grid-area: request;
        padding: 1rem;
    }
    .customer {
        display: flex;
        grid-column: 3 / 4;
        grid-area: customer;
        padding: 1rem;

    }
    .footer {
        display: flex;
        grid-column: 1 / 4;
        grid-area: footer;
        padding: 1rem;
    }
    .logoLeft {
        display: flex;
        grid-column: 1 / 2;
        grid-area: header;
        padding: 1rem;
    }

    .nav {
        display: flex;
        grid-column: 2 / 4;
        grid-area: nav;
        padding: 1rem;
        justify-content: center;
        padding-top: 40px;
    }

    .wrapper::after {
        content: "";
        clear: both;
        display: table;
    }
}

@media(max-height: 400px) {
    :root {
        --color-base: hsl(white);
        --color-text: white;
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        margin: auto;
        max-width: 95rem;

        grid-template-areas: 
        "nav nav nav"
        "price request customer"
        "footer footer footer";
    }
    *, *::after, *::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        position: relative;
    }
    html {
        background-color: #000000;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23030422' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23060844' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23090b66' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%230c0f88' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%230f13aa' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
    }
    ul {
        list-style: none;
    }
    li {
        font-size: 1.15rem;
        color: var(--color-text);
        display: inline;
        padding: 20px;
        font-family: 'Courier New', Courier, monospace;
    }
    select {
        color: var(--color-text);
        background-color: #000000;
        font-size: 1rem;
        font-family: 'Courier New', Courier, monospace;
    }
    a {
        text-decoration: none;
        color: var(--color-text);
        font-size: 1.75rem;
        padding: 10px;
        font-family: 'Courier New', Courier, monospace;
    }
    input {
        padding-left: 20px;
    }
    footer {
        color: var(--color-text);
        font-size: .75rem;
        font-family: 'Courier New', Courier, monospace;
    }
    legend {
        color: var(--color-text);
        font-size: 1.15rem;
        font-family: 'Courier New', Courier, monospace;
    }
    h2 {
        color: var(--color-text);
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
    }
    nav {
        padding-top: 20px;
    }
    .logoLeft {
        width: 120px;
        height: 120px;
    }
    .price {
        display: flex;
        grid-column: 1 / 2;
        grid-area: price;
        padding: 1rem;

    }
    .request {
        display: flex;
        grid-column: 2 / 3;
        grid-area: request;
        padding: 1rem;
    }
    .customer {
        display: flex;
        grid-column: 3 / 4;
        grid-area: customer;
        padding: 1rem;

    }
    .footer {
        display: flex;
        grid-column: 1 / 4;
        grid-area: footer;
        padding: 1rem;
    }
    .logoLeft {
        display: flex;
        grid-column: 1 / 2;
        grid-area: header;
        padding: 1rem;
    }

    .nav {
        display: flex;
        grid-column: 2 / 4;
        grid-area: nav;
        padding: 1rem;
        justify-content: center;
        padding-top: 40px;
    }
    .wrapper::after {
        content: "";
        clear: both;
        display: table;
    }
}

